doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    // CSS
    link(rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css")
    // Script
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')


    title= 'IBM SVT'
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          if user
            li
              a(href='/follow') Notifications
            li
              a(href='/logout') Logout
        h3.text-muted System Verificaion Team
      block body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/bootstrap.min.js')